@model MVCFirebase.Models.ClinicSettings

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ClinicSettings</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.bill_sms, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.bill_sms)
                @Html.ValidationMessageFor(model => model.bill_sms, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.reminder_sms, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.reminder_sms)
                @Html.ValidationMessageFor(model => model.reminder_sms, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.consultationfee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.consultationfee)
                @Html.ValidationMessageFor(model => model.consultationfee, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.inventoryon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.inventoryon)
                @Html.ValidationMessageFor(model => model.inventoryon, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Fee", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-3">
            @Html.EditorFor(model => model.fee1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fee1, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.fee2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fee2, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.fee3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fee3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Days", htmlAttributes: new { @class = "control-label col-md-2" })


        <div class="col-md-3">
            @Html.EditorFor(model => model.days1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.days1, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.days2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.days2, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.days3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.days3, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.whofirst, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.whofirst, (IEnumerable<SelectListItem>)ViewBag.WHOFIRSTS, new { @class = "select2_demo_4 form-control" })
            @Html.ValidationMessageFor(model => model.whofirst, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@if (@ViewBag.Message != null)
{
    <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
    </script>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
