@model MVCFirebase.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Green Paper Technology</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @*  *@




</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/Home/Index" class="navbar-brand"> <img src="~/Images/logo copy.png" alt="Company logo" width="30" height="30" class="d-inline-block align-top" /></a>
                @Html.ActionLink("Green Paper Technology", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>

        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container body-content">
            <div class="form-horizontal">
                <h4>Login Form</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(model => model.clinicmobilenumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <label class = "control-label col-md-2">user Name</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.clinicmobilenumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Clinic Mobile Number" } })
                        @Html.ValidationMessageFor(model => model.clinicmobilenumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(model => model.mobile_number, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <label class="control-label col-md-2">User Id</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mobile_number, new { htmlAttributes = new { @class = "form-control", placeholder = "UserId" } })
                        @Html.ValidationMessageFor(model => model.mobile_number, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <label class="control-label col-md-2">Password</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
            <div class="container body-content">

                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Green Paper Technology</p>
                </footer>
            </div>
        </div>




    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
</body>
</html>
