
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>privicy</title>
</head>

<body>
    <h1></h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>
<!-- Image and text -->

<nav class="navbar navbar-light" style="background-color: rgb(220, 230, 227);">
    <a class="navbar-brand" href="#home">
        <img src="../images/logo copy.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
        Green Paper Technology
    </a>
    <nav class="navbar navbar-expand-lg style=" background-color: #e3f2fd;>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index#about us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index">Contact Us</a>
                </li>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Clinic/index">Clinics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/SuperUser/index">SuperUsers</a>
                    </li>
                    @*<li>@Html.ActionLink("Clinics ", "Index", "Clinic")</li>
                    <li>@Html.ActionLink("SuperUsers ", "Index", "SuperUser")</li>*@
                }

                @if (User.IsInRole("Receptionist"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Patient/index">Patients</a>
                    </li>
                    @*<li>@Html.ActionLink("Patients ", "Index", "Patient")</li>*@
                }
                @if (User.IsInRole("Receptionist") || User.IsInRole("Chemist") || User.IsInRole("Cashier"))
                {
                    if (User.IsInRole("Receptionist"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Appointment/index">Appointments</a>
                        </li>
                        @*<li>@Html.ActionLink("Appointments ", "Index", "Appointment")</li>*@
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Waiting/index">Appointments</a>
                        </li>
                        @*<li>@Html.ActionLink("Appointments ", "Waiting", "Appointment")</li>*@
                    }

                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/User/index">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ClinicSetting/index">Settings</a>
                    </li>
                    @*<li>@Html.ActionLink("Users ", "Index", "User")</li>
            <li>@Html.ActionLink("Settings ", "Index", "ClinicSetting")</li>*@
                }
                @if (User.Identity.IsAuthenticated)
                {

                    <li>
                        @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
                        {
                            <a class="nav-link" href="javascript:;" onclick="document.forms[0].submit();">Logout</a>
                        }
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Login">Log In</a>

                    </li>
                }
            </ul>
        </div>
    </nav>
</nav>
<div id="about us" class="text-justify container">
    <h1 class="display-6 text-left">Green Paper Technology Privacy Policy</h1>
    <hr>
    <p class="lead">
        Respect for your privacy is coded into our DNA. Since we started, we’ve aspired to build
        our Services with a set of strong privacy principles in mind.
        When we say “Green Paper Technology,” “our,” “we,” or “us,” we’re talking about Green Paper Technology. This
        Privacy Policy (“Privacy
        Policy”) applies to all of our apps, services, features, software, and website (together, “Services”) unless
        specified otherwise.
        Please also read Green Paper Technology Terms of Service (“Terms”), which describes the terms under which you
        use our
        Services.
    </p>
    <br>
    <h3 class="display-20 text-left">Information We Collect</h3>
    <p class="lead">
        Green Paper Technology receives or collects information when we operate and provide our Services,
        including when you install, access, or use our Services.
    </p>
    <p class="lead">
        Your Account Information: <br> You provide your mobile phone number to create a Green Paper account.
        You
        provide us the phone numbers in your mobile address book on a regular basis, including those of both the users
        of our Services and your other contacts. You confirm you are authorized to provide us such numbers. You may also
        add other information to your account, such as a profile name, profile ID proof, profile ID number, etc.
    </p>
    <p class="lead">
        Your Connections: <br>To help you work in multi-user clinic environment we also take information of
        other users created by admin. Information like Name, mobile number and ID proof.
    </p>
    <br>

    <h3 class="display-20 text-left">Automatically Collected Information</h3>
    <p class="lead">
        Usage and Log Information: <br> We collect service-related, diagnostic, and performance information.
        This
        includes information about your activity (such as how you use our Services, how you interact with others using
        our Services, and the like), log files, and diagnostic, crash, website, and performance logs and reports.
    </p>
    <p class="lead">
        Transactional Information: <br> If you pay for our Services, we may receive information and
        confirmations, such as payment receipts, including from app stores or other third parties processing your
        payment.
    </p>
    <p class="lead">
        Device and Connection Information: <br> We collect device-specific information when you install,
        access,
        or use our Services. This includes information such as hardware model, operating system information, browser
        information, IP address, mobile network information including phone number, and device identifiers.
    </p>
    <p class="lead">
        Patients Information: <br> We collect patients' personal information like name, age, gender,
        disease,
        mobile number and their city which you provide automatically while creating a new patient each time.
    </p>
    <br>
    <h3 class="display-20 text-left">Assignment, Change Of Control, And Transfer</h3>
    <p class="lead">
        All of our rights and obligations under our Privacy Policy are freely assignable by us to any of our
        affiliates, in connection with a merger, acquisition, restructuring, or sale of assets, or by operation of law
        or otherwise, and we may transfer your information to any of our affiliates, successor entities, or new owner.
    </p>
    <br>
    <h3 class="display-20 text-left">Managing Your Information</h3>
    <p class="lead">
        If you would like to manage, change, limit, or edit your information, we allow you to do that
        through the following tools:
        <br>
        Changing Your Mobile Phone Number, Profile Name. You must change your mobile
        phone number, clinic name, clinic information, clinic logo etc by using our in-app edit user feature. Please
        note that you can only change in online mode.
        <br>
        To delete your account permanently you can request to our customer service through in-app feature or
        through website.
    </p>
    <br>
    <h3 class="display-20 text-left">Law And Protection</h3>
    <p class="lead">
        We may collect, use, preserve, and share your information if we have a good-faith belief that it is
        reasonably necessary to: (a) respond pursuant to applicable law or regulations, to legal process, or to
        government requests; (b) enforce our Terms and any other applicable terms and policies, including for
        investigations of potential violations; (c) detect, investigate, prevent, and address fraud and other illegal
        activity, security, or technical issues; or (d) protect the rights, property, and safety of our users; (e) for
        educational purpose; (f) to anticipate the pandemic or fast growing disease in the area.
    </p>
    <br>
    <h3 class="display-20 text-left">Updates To Our Policy</h3>
    <p class="lead">
        We may amend or update our Privacy Policy. We will provide you notice of amendments to this Privacy
        Policy, as appropriate, and update the “Last Modified” date at the top of this Privacy Policy. Your continued
        use of our Services confirms your acceptance of our Privacy Policy, as amended. If you do not agree to our
        Privacy Policy, as amended, you must stop using our Services. Please review our Privacy Policy from time to
        time.
    </p>








</div>
</div>

</html>
