@model IEnumerable<MVCFirebase.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.clinicmobilenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clinicmobilenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_qualification)
            </td>
            <td>
                @for (var i = 0; i < item.user_roles.Length; i++)
                {
                    @Html.DisplayFor(modelItem => item.user_roles[i]) if (i != item.user_roles.Length - 1)
                    {<text> | </text>}

            }
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
